<footer class="bg-dark text-center text-white">

    <section class="mb-4">
        <p> Desafío Nº15 </p>
    </section>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Coderhouse
        
    </div>

</footer>